*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url(I3wz8sksSV6qyalFr__CDw.jpg);
    background-size: cover;
    background-position: center;
    height: 200vh;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.logo{
    width: 100px;
    max-width: 100%; 
    position: absolute;
    top: 10px;
    left: 50px;
    transform: translateX(-50%);
    z-index: 2;
}

.text{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.text h1{
    font-size: 130px;
}
.text p{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    margin: 20px auto 0;
}
.btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.btn a:hover{
    color: #000;
}
.btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}
.btn a:hover span{
    width: 100%;
}

#sideNav{
    width: 250px; 
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 3;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 50px;
    top: 20px;
    border-radius: 3px;
    z-index: 4;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 770px){
    .text h1{
        font-size: 44px;
    }

    .btn a{
        display: block;
        margin: 20px auto;
    }
}
    
#about-us{
    padding-top: 50px;
    margin-top: 50px;
}
.about-us-text{
    text-align: center;
}
.about-us-text h1{
    margin: auto;
    color: #009688;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.goals-list{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.goal-1{
    flex-basis: 50%;
}
.goal-1-img{
    flex-basis: 50%;
    margin: auto;
}
.goal-1-img img{
    width: 70%;
    border-radius: 10px;
}
.goal-1 h2{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.goal-1-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
