body {
    background-color: #f8f8f8;
    color: #333;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
    transform: translateY(20px);
}

h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.header {
    background-image: url('https://ideogram.ai/api/images/direct/I3wz8sksSV6qyalFr__CDw.jpg');
    background-size: cover;
    color: #fff;
}
.featured-image {
    border: 3px solid #ff6f61;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.button {
    background-color: #4CAF50;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 150px;
}


    
.button:hover {
    background-color: #45a049;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.container img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 40px;
}


.section {
    padding: 40px;
}


.recommend-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.center-cropped {
    width: 100%;
    min-height: 30em;
    max-height: 100em auto;
    height: auto;
    background-position: top center;
    background-repeat: no-repeat;
  }

nav {
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: #E1D9D1;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    footer ul {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }
}
